body {
    background-color: #444444;
    font-size: 0;
    }

.container {
    width: 70vw;
    height: 70vw;
    margin: auto;
}

.box {
    display: inline-block;
    height: 50%;
    width: 50%;
}